<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>DFA App</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename="css/bs.css") }}" rel="stylesheet">
    <link href="{{ url_for('static', filename="css/style.css") }}" rel="stylesheet">
    <!-- Custom CSS -->
    <script src="{{url_for('static' ,filename="js/d3.min.js") }}"></script>
    <script src="{{url_for('static', filename="js/jquery.min.js") }}"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div id="page-content-wrapper">
        <div class="container">
            <div class="row">
                <div id="dfa" class="col-lg-6">
                    <h3>
                        DFA
                    </h3>
                </div>
                <table id="dfa_table" class="table table-bordered">
                	<thead>
                		<th> States</th>
                		<th> 0 </th>
                		<th> 1 </th>
                	</thead>
                	<tbody>
                	</tbody>
                    <tfoot>
                        <th colspan=3>*Green States is start state</th>
                    </tfoot>
                </table>
                <form>
                    <button id ="animate" class="btn btn-default" type="button" onclick="">Check!</button>
                    <input type="text" name="inputString" id="inputString" value="">
                    <button id="btn0" class="btn btn-mini" type="button" onclick="">0</button>
                    <button id="btn1" class="btn btn-mini" type="button" onclick="">1</button>
                    <button id="btnDel" class="btn btn-mini" type="button" onclick="">DEL</button>
                </form>
            </div>
        </div>
    </div>
    <!-- modal -->
    <div class="modal fade" id="modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="modalTitle"></h4>
          </div>
          <div class="modal-body" id="modalBody" >
            <p id="modalText"></p>
            <ul id="modalList">
            </ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <a class="btn btn-mini btn-link " onclick="showAbout()">About</a>
    <a class="btn btn-mini btn-link " onclick="showHelp();">Help</a>
    <a class="btn btn-mini btn-link " href="http://jquery.com/">jQuery</a>
    <a class="btn btn-mini btn-link " href="http://twitter.github.io/bootstrap/">Bootstrap</a>
    <a class="btn btn-mini btn-link " href="http://flask.pocoo.org/">Flask</a>
    <a class="btn btn-mini btn-link " href="http://d3js.org/">D3</a>
	<script src="{{ url_for('static', filename="js/bootstrap.min.js") }}"></script>
	<script src="{{ url_for('static', filename="js/graph.js") }}"></script>
    <script>
        function showAbout(){
            $("#modalTitle").text("About");
            $('#modalText').empty();
            $('#modalText').append('A simple web app to help draw a deterministic finite automata (<a href="http://en.wikipedia.org/wiki/Deterministic_finite_automaton" target="_blank">DFA</a>) and to check if strings are accepted/rejected by DFA. <br/>Created by: Dallas Fraser <br/>Tools used:');
            $('#modalBody ul').empty();
            $('#modalBody ul').append("<li>Flask -> python framework</li>");
            $('#modalBody ul').append("<li>D3 -> javascript visualization library</li>");
            $('#modal').modal("show");
        }

        function showHelp(){
            $("#modalTitle").text("Help");
            $('#modalText').empty();
            $('#modalText').append('If your question is un-answered feel free to send an email to <a href="mailto:fras2560@mylaurier.ca?Subject=DFA%20App" target="_top">Dallas Fraser</a>');
            $('#modalBody ul').empty();
            $('#modalBody ul').append("<li>Click ->  to add a node</li>");
            $('#modalBody ul').append("<li>Click on node -> to select a node</li>");
            $('#modalBody ul').append("<li>Del/Backspace to delete selected node</li>");
            $('#modalBody ul').append("<li>S on selected node -> Set node as starting state</li>");
            $('#modalBody ul').append("<li>L on selected node -> will add self loop</li>");
            $('#modalBody ul').append("<li>A/F on selected node -> set node as accepting state</li>");
            $('#modalBody ul').append("<li>Click on link -> to select a link</li>");
            $('#modalBody ul').append("<li>Del/Backspace on selected link -> Delete last character on transition or link if no characters</li>");
            $('#modalBody ul').append("<li>0/1 on selected link -> Will add the character to the links transition.</li>");
            $('#modal').modal("show")
        }
        var temp;
        $( document ).ready(function() {
            init('dfa', 960, 500);
        });
        $("#animate").click(function(){
            animate();
        });
        $("#btn0").click(function(){
            temp = $("#inputString").val(); 
            $("#inputString").val(temp + "0");
        });
        $("#btn1").click(function(){
            temp = $("#inputString").val(); 
            $("#inputString").val(temp + "1");
        });
        $("#btnDel").click(function(){
            temp = $("#inputString").val(); 
            if (temp.length > 0){
                $("#inputString").val(temp.slice(0, -1));
            }
        });

    </script>
</body>
</html>